beautifulsoup4
climage
clipboard
elasticsearch
Flask
gitignore_parser
gTTS
InquirerPy
mss
nltk
numpy
openai
pandas
pathspec
piexif
Pillow
postal
prompt_toolkit
PyAudio
pydub
pyfiglet
pygame
Pygments
pynput
python_dateutil
python_magic
pyttsx3
requests
selenium
simpleaudio
sounddevice
spacy
SpeechRecognition
sumy
textract
thefuzz
tiktoken
torch
transformers
pyttsx3
sounddevice
simpleaudio
webdriver_manager
ascii_magic
google-auth
rich
textual

