ascii_magic==2.3.0
beautifulsoup4==4.12.3
chronos==0.3
climage==0.2.0
clipboard==0.0.4
customtkinter==5.2.1
deepface==0.0.93
dnspython==2.7.0
elasticsearch==8.5.3
Flask==3.0.3
gitignore_parser==0.1.9
google_api_python_client==2.147.0
google_auth_oauthlib==1.0.0
groq==0.11.0
gTTS==2.5.0
halo==0.0.31
html2text==2024.2.26
huggingface_hub==0.20.1
InquirerPy==0.3.4
matplotlib==3.8.1
mss==9.0.1
nltk==3.8.1
numpy==2.1.2
ollama==0.3.3
openai==0.28.0
opencv_python_headless==4.9.0.80
pandas==2.2.3
piexif==1.1.3
Pillow==10.4.0
plotly==5.17.0
prompt_toolkit==3.0.43
PyAudio==0.2.14
pydub==0.25.1
pyenchant==3.2.2
pyfiglet==1.0.2
pygame==2.6.1
pygame_ce==2.3.2
Pygments==2.18.0
pynput==1.7.6
pytesseract==0.3.10
python_dateutil==2.9.0.post0
python_magic==0.4.27
pyttsx3==2.90
qrcode==8.0
requests==2.32.3
rich==13.9.2
scikit_learn==1.5.2
scipy==1.14.1
selenium==4.25.0
simpleaudio==1.0.4
sounddevice==0.4.6
spacy==3.7.2
SpeechRecognition==3.8.1
sumy==0.11.0
tensorflow==2.17.0
tensorflow_macos==2.13.0rc1
textract==1.6.5
textstat==0.7.4
thefuzz==0.20.0
tiktoken==0.1.1
torch==2.0.0
tqdm==4.66.1
transformers==4.36.2
typing_extensions==4.12.2
webcolors==1.13
webdriver_manager==3.8.5
youtube_dl==2021.12.17
youtube_transcript_api==0.6.2
yt_dlp==2024.9.27
