beautifulsoup4
customtkinter==5.2.1
elasticsearch==8.5.3
matplotlib==3.5.1
nltk==3.8.1
numpy==1.24.3
opencv_python==4.8.0.76
pdf2image==1.16.3
Pillow==10.1.0
prompt_toolkit==3.0.38
pydub==0.25.1
pygame==2.4.0
pygame_gui==0.6.9
Pygments==2.15.1
PyOpenGL==3.1.7
pyserial==3.5
pytesseract==0.3.10
Requests==2.31.0
rich==13.6.0
scipy==1.8.0
sounddevice==0.4.6
spacy==3.5.3
textract==1.6.5
torch==2.0.0
transformers==4.31.0
websockets==11.0.3
